body {
  min-height: 100vh;
  min-height: fill-available;
}

html {
  height: fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
/*
.nav-link {
  border-radius: 0;
}
*/
.nav-link:hover {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
}

.scrollarea {
  display: block;
  overflow-y: auto;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}